MC3 Zip Blinds - Telegram Lead Qualification New01.json
{
  "name": "MC3 Zip Blinds - Telegram Lead Qualification 01",
  "nodes": [
    {
      "parameters": {
        "content": "## ✈️ MC3 Telegram Lead Qualification Flow\n\n**How it works:**\n1. Customer messages the MC3 Telegram bot\n2. Stage 1 — Bot captures Name + Email (required before any product help)\n3. Stage 2 — Bot answers product questions via Supabase RAG (mc3_documents table)\n4. Each reply includes a lead score 0–100 based on purchase intent signals\n5. Score > 69 → Gmail alert fired to sales team\n6. Score ≤ 69 → Plain Telegram reply only\n\n**Shared knowledge base:** `mc3_documents` table in Supabase\n(same table used by the AgentX web chat — documents uploaded via the Admin Portal appear here too)\n\n**Credentials needed (re-pick after import):**\n• telegramApi — Telegram Trigger + Send a text message\n• openAiApi — OpenAI GPT-4o (chat) + OpenAI Embeddings (same credential)\n• supabaseApi — Supabase RAG Retriever\n• gmailOAuth2 — Gmail Alert (DISABLE this node if no Gmail credential)",
        "height": 480,
        "width": 660,
        "color": 4
      },
      "id": "4f4d02ae-5f84-49e8-921d-35caeb4073a0",
      "name": "📋 README",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1504,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔁 Lead Score Logic\n\n**Scoring signals (0–100):**\n- Named a specific product / model → +15\n- Comparing prices or asking about lead times → +20\n- Mentioned a specific installation timeline → +15\n- Commercial / bulk order signals → +20\n- Multiple substantive questions → +10 each (up to +30)\n\n**Threshold:** score > 69 → qualified lead\n→ Gmail alert to sales team fires automatically\n→ Telegram reply still sent to the customer\n\n**Fallback:** If the knowledge base has no match,\nbot replies: \"Please contact support@mc3blinds.com\nor call 1800-MC3-HELP\"",
        "height": 340,
        "width": 500,
        "color": 2
      },
      "id": "91c92bac-b28f-405c-a3cf-2d6171c4f2a7",
      "name": "📊 Lead Score Logic",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "5fcb0f6f-1d49-4e10-9fc5-b205e06ae8ca",
      "name": "✈️ Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        1744,
        624
      ],
      "webhookId": "mc3-telegram-lead-bot-001",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "FwYCNGUpnOSHwF4R",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "efc7399a-4841-4218-9f7a-d2a7ee317461",
      "name": "🧠 OpenAI GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1904,
        864
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "X0ObAVdred9V8HFu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}",
        "contextWindowLength": 15
      },
      "id": "61337b9f-cf0e-40f3-ae01-3733b19802b8",
      "name": "🔑 Simple Memory (per user)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2144,
        864
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the MC3 Zip Blinds knowledge base. Contains product manuals, installation guides, FAQs, warranty policies, troubleshooting guides, and spare parts information. ALWAYS call this tool before answering any product question.",
        "tableName": {
          "__rl": true,
          "value": "mc3_documents",
          "mode": "list",
          "cachedResultName": "mc3_documents"
        },
        "topK": 5,
        "options": {
          "queryName": "match_mc3_documents"
        }
      },
      "id": "42e67870-f770-40fc-a0b5-789e0ad8a588",
      "name": "🗃️ MC3 RAG Retriever",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        2304,
        1024
      ],
      "typeVersion": 1.3,
      "credentials": {
        "supabaseApi": {
          "id": "jI0LKCf8u8u9hEpI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8d72c741-0348-40c9-83e9-065211834c3d",
      "name": "📐 OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        2464,
        1184
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "X0ObAVdred9V8HFu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI Agent's output — handles both JSON and plain text responses\nlet raw = $json.output ?? \"\";\nif (typeof raw === 'object') raw = JSON.stringify(raw);\nraw = String(raw).replace(/```json/gi, '').replace(/```/g, '').trim();\n\nconst FALLBACK_REPLY = \"Sorry, I had a moment of trouble. Could you please repeat your question?\";\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (err) {\n  // Agent returned plain text — extract lead signals via pattern matching on the reply\n  const agentReply = raw;\n\n  const emailMatch = agentReply.match(/[\\w.+-]+@[\\w.-]+\\.[a-z]{2,}/i);\n  const phoneMatch = agentReply.match(/(?:\\+?\\d{1,3}[\\s-]?)?\\d{7,}/);\n  const nameMatch  = agentReply.match(/(?:thank(?:s| you)[,!]?\\s+|hi[,!]?\\s+|hello[,!]?\\s+|dear\\s+)([A-Za-z]+(?:\\s+[A-Za-z]+)?)/i);\n\n  let score = 0;\n  if (/sales.*(?:contact|reach|call)|reach out|follow.?up|get back to you/i.test(agentReply)) score += 40;\n  if (phoneMatch)  score += 20;\n  if (emailMatch)  score += 10;\n  if (/tomorrow|today|after\\s*\\d|by\\s*\\d|asap/i.test(agentReply))                            score += 15;\n  if (/zip blind|motoris|motor|model|series|instal|pric|quot/i.test(agentReply))              score += 15;\n  if (/commercial|bulk|multiple|project|\\d+\\s*unit/i.test(agentReply))                       score += 20;\n\n  return [{\n    json: {\n      parse_success: false,\n      Name:          nameMatch ? nameMatch[1].trim() : \"\",\n      Email:         emailMatch ? emailMatch[0] : \"\",\n      reply_to_user: (agentReply && agentReply.length < 4000) ? agentReply : FALLBACK_REPLY,\n      lead_score:    Math.min(score, 100),\n      qualified:     score >= 70,\n      product_interest: \"\",\n      conversation_summary: \"\",\n      error: \"Plain text from agent — signals extracted\"\n    }\n  }];\n}\n\nconst name  = parsed.lead_data?.name  || \"\";\nconst email = parsed.lead_data?.email || \"\";\nconst reply = parsed.reply_to_user    || FALLBACK_REPLY;\nconst score = typeof parsed.lead_score === 'number' ? parsed.lead_score : 0;\n\nreturn [{\n  json: {\n    parse_success: true,\n    Name:          name,\n    Email:         email,\n    reply_to_user: reply,\n    lead_score:    score,\n    qualified:     parsed.qualified || false,\n    product_interest: parsed.lead_data?.product_interest || \"\",\n    conversation_summary: parsed.conversation_summary || \"\"\n  }\n}];"
      },
      "id": "761a6edf-f583-4305-9db9-7026034ae7da",
      "name": "⚙️ Parse Agent Output",
      "type": "n8n-nodes-base.code",
      "position": [
        2464,
        624
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "mc3-lead-score-check",
              "leftValue": "={{ $json.lead_score }}",
              "rightValue": 69,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d6b63f0f-08c8-4c01-b6b8-45cd1918f7a7",
      "name": "🎯 If (Score > 69)",
      "type": "n8n-nodes-base.if",
      "position": [
        2784,
        624
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "sendTo": "=sales@mc3blinds.com",
        "subject": "=🪟 New MC3 Lead – {{ $json.Name }} (Score: {{ $json.lead_score }})",
        "message": "=A qualified lead has been captured via the MC3 Zip Blinds Telegram bot.\n\n👤 Name:   {{ $json.Name }}\n📧 Email:  {{ $json.Email }}\n📊 Lead Score:  {{ $json.lead_score }} / 100\n🏷️ Product Interest:  {{ $json.product_interest || 'Not specified' }}\n\n📝 Conversation Summary:\n{{ $json.conversation_summary || 'See n8n Executions panel for full transcript.' }}\n\nPlease follow up with this lead promptly.\n\n──────────────────────────────\nGenerated by MC3 Telegram Lead Qualification Bot\nn8n workflow: MC3 Zip Blinds - Telegram Lead Qualification 01",
        "options": {}
      },
      "id": "418efec2-872e-48e6-8f22-3a30b45faf43",
      "name": "📧 Gmail Lead Alert",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3104,
        512
      ],
      "typeVersion": 2.2,
      "webhookId": "48eda940-f81b-43d8-ac92-fe8f801a6121",
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('✈️ Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('⚙️ Parse Agent Output').first().json.reply_to_user }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "d03f4b1c-a9a1-4ff2-bc6a-53f82bd6b1bf",
      "name": "✉️ Send Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        3104,
        752
      ],
      "typeVersion": 1.2,
      "webhookId": "0e27af52-b038-4ef4-81ac-391878f60d1e",
      "credentials": {
        "telegramApi": {
          "id": "FwYCNGUpnOSHwF4R",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "systemMessage": "⚠️ OUTPUT FORMAT — READ THIS FIRST ⚠️\nYou MUST respond with valid JSON only — no plain text, no markdown, no explanations outside the JSON object. Your reply goes directly into a JSON parser. If you respond with plain text, the customer will receive NO reply at all. There are NO exceptions to this rule.\n\nRequired JSON format (use exactly these keys, no extras):\n{\n  \"reply_to_user\": \"\",\n  \"user_registered\": false,\n  \"lead_data\": {\n    \"name\": \"\",\n    \"email\": \"\",\n    \"phone\": \"\",\n    \"product_interest\": \"\",\n    \"issue_type\": \"\",\n    \"urgency\": \"\",\n    \"scale\": \"\"\n  },\n  \"lead_score\": 0,\n  \"qualified\": false,\n  \"reason\": \"\",\n  \"conversation_summary\": \"\"\n}\n\n---\n\nYou are MC3 Zip Blinds' AI assistant on Telegram — combining expert product support with lead qualification.\n\nYour workflow has two stages:\n\nSTAGE 1: USER REGISTRATION\n- At the start of every new conversation, ask the user to provide their Name and Email address.\n- Extract Name and Email from their message. Also capture phone number if provided.\n- Validate: email must follow a valid format (e.g. name@domain.com).\n- If either Name or Email is missing or invalid, respond politely and ask again.\n- Do NOT assume or hallucinate values.\n- Once Name + Email are captured, warmly greet the user by first name and confirm registration. Set user_registered: true.\n\nSTAGE 2: PRODUCT SUPPORT & LEAD QUALIFICATION\n- Once registered, help with any MC3 Zip Blind enquiry.\n- ALWAYS call the mc3_knowledge_base RAG tool before answering any product question.\n- Topics: product models, installation, motor troubleshooting, warranty, spare parts, returns, cleaning, pricing, commercial orders.\n- If the knowledge base has no relevant result, set reply_to_user to: \"I'm sorry, I couldn't find specific information about that. Please contact our support team at support@mc3blinds.com or call 1800-MC3-HELP. A human agent will assist you shortly.\"\n- Do NOT make up product specifications, prices, or availability.\n- Keep responses concise, friendly, and professional.\n- If the customer seems frustrated, acknowledge their concern empathetically.\n\nLEAD SCORING (0–100) — recalculate on every turn and update lead_score:\n- Explicitly requests sales team to call / contact them → +40\n- Provides phone number → +20\n- Provides email address → +10\n- Names a specific product model or product line → +15\n- Compares prices, asks about lead times, or signals readiness to order → +20\n- Mentions a specific installation or callback timeline → +15\n- Commercial or bulk order signals → +20\n- Each additional substantive product question → +10 (max +30 total)\nNote: scores can exceed 100 internally — cap reported lead_score at 100.\n\nSPECIAL CONDITIONS:\n- Not yet registered → user_registered: false, lead_score: 0, reply_to_user must ask for Name and Email\n- Registered → user_registered: true, score every turn\n- Set qualified: true when lead_score >= 70\n\nREMINDER: Every single response — including greetings, confirmations, and follow-up messages — MUST be wrapped in the JSON object above. Never output bare text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2016,
        624
      ],
      "id": "83d9497d-5cdb-4408-a12d-db89c822f858",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "📐 OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "🗃️ MC3 RAG Retriever",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Parse Agent Output": {
      "main": [
        [
          {
            "node": "🎯 If (Score > 69)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 If (Score > 69)": {
      "main": [
        [
          {
            "node": "📧 Gmail Lead Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✉️ Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Gmail Lead Alert": {
      "main": [
        [
          {
            "node": "✉️ Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✉️ Send Telegram Reply": {
      "main": [
        []
      ]
    },
    "✈️ Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 OpenAI GPT-4o": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🔑 Simple Memory (per user)": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "🗃️ MC3 RAG Retriever": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "⚙️ Parse Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "268cb4de-3f68-4eb3-a4ab-6e5b2b5a0789",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "13c5e749e41377da574139d5ae1c0b7cc3dd7e7d4abd9269d46e6af5701b4608"
  },
  "id": "kKY2rKbdCxIDtvtr",
  "tags": []
}