MC3 Zip Blinds – Admin Document Ingestion → Supabase RAG.json
{
  "name": "MC3 Zip Blinds – Admin Document Ingestion → Supabase RAG",
  "nodes": [
    {
      "parameters": {
        "content": "## 📚 MC3 Admin Document Ingestion Flow\n\n**How it works:**\n1. Admin uploads a document (PDF/DOCX/TXT/CSV) via the Customer Admin Website\n2. The Admin Website calls POST `/webhook/mc3-admin-ingest` with the file + metadata\n3. n8n receives the file, extracts text via Default Data Loader\n4. OpenAI Embeddings converts text chunks into vectors\n5. Supabase Vector Store inserts the vectors into the `mc3_documents` table\n\n**Webhook URL (Production):**\n`POST /webhook/mc3-admin-ingest`\n\n**Required Supabase Setup:**\nRun the SQL in the sticky note below to create the `mc3_documents` table with `pgvector` extension.",
        "height": 380,
        "width": 580,
        "color": 4
      },
      "id": "493fca69-581e-47ff-96fa-6d0aec264b6d",
      "name": "📋 README",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 📦 Supabase Table Setup (run once in Supabase SQL Editor)\n\nCREATE EXTENSION IF NOT EXISTS vector;\n\nCREATE TABLE mc3_documents (\n  id BIGSERIAL PRIMARY KEY,\n  content TEXT,\n  metadata JSONB,\n  embedding VECTOR(1536)\n);\n\nCREATE OR REPLACE FUNCTION match_mc3_documents(\n  query_embedding VECTOR(1536),\n  match_count INT DEFAULT 5,\n  filter JSONB DEFAULT '{}'\n) RETURNS TABLE (\n  id BIGINT, content TEXT, metadata JSONB, similarity FLOAT\n) LANGUAGE plpgsql AS $$\nBEGIN\n  RETURN QUERY\n  SELECT id, content, metadata,\n    1 - (embedding <=> query_embedding) AS similarity\n  FROM mc3_documents\n  WHERE metadata @> filter\n  ORDER BY embedding <=> query_embedding\n  LIMIT match_count;\nEND;\n$$;",
        "height": 420,
        "width": 520,
        "color": 5
      },
      "id": "5dae1eb9-bdf8-4600-aae4-b105f5bdf21d",
      "name": "🛢️ Supabase SQL Setup",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mc3-admin-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c015720b-25ae-4e98-8252-9e9c2143a0e3",
      "name": "📡 Admin Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        624,
        288
      ],
      "webhookId": "mc3-admin-ingest-001",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Validate and extract metadata from the admin upload request\nconst body = $input.first().json.body || $input.first().json;\nconst category = body.category || 'General Knowledge';\nconst model = body.model || 'All Models';\nconst uploadedAt = new Date().toISOString();\nconst source = 'admin-upload';\n\n// Pass binary data along with metadata\nconst binaryData = $input.first().binary || {};\nconst fileKeys = Object.keys(binaryData);\n\nif (fileKeys.length === 0) {\n  throw new Error('No file found in upload request');\n}\n\nreturn [{\n  json: { category, model, uploadedAt, source, fileKeys },\n  binary: binaryData\n}];"
      },
      "id": "a189519f-47ac-4fe5-92ef-fedeac36aa81",
      "name": "✅ Validate Upload & Extract Metadata",
      "type": "n8n-nodes-base.code",
      "position": [
        848,
        288
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "c47def3e-5ca6-4951-ad46-12dbdf5c004b",
      "name": "📄 Default Data Loader (PDF/DOCX/TXT)",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1088,
        624
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "id": "37c22336-3141-47fe-8801-72f478769be9",
      "name": "✂️ Recursive Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1312,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "mc3_documents",
          "mode": "list",
          "cachedResultName": "mc3_documents"
        },
        "options": {}
      },
      "id": "2f6a1d30-b5f1-4520-8ce7-2804d2a62707",
      "name": "🗄️ Supabase Vector Store (Insert)",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        1072,
        288
      ],
      "typeVersion": 1.3,
      "credentials": {
        "supabaseApi": {
          "id": "jI0LKCf8u8u9hEpI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "84810362-0290-42a9-a01d-91dfce0869df",
      "name": "📐 OpenAI Embeddings (text-embedding-3-small)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        928,
        544
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "X0ObAVdred9V8HFu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build success response for the admin portal\nconst input = $input.first().json;\nconst chunksInserted = input.vectorStoreInsertCount || 'unknown';\n\nreturn [{\n  json: {\n    success: true,\n    message: `Document successfully ingested into Supabase RAG. Chunks inserted: ${chunksInserted}`,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "a61f0fb7-3ef2-45df-9394-578d15e4475e",
      "name": "📊 Build Ingestion Response",
      "type": "n8n-nodes-base.code",
      "position": [
        1312,
        288
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "92000a7e-3f02-4202-9551-fb5da3f5f9c8",
      "name": "✅ Respond to Admin Portal",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1520,
        288
      ],
      "typeVersion": 1.1
    }
  ],
  "pinData": {},
  "connections": {
    "📡 Admin Upload Webhook": {
      "main": [
        [
          {
            "node": "✅ Validate Upload & Extract Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Validate Upload & Extract Metadata": {
      "main": [
        [
          {
            "node": "🗄️ Supabase Vector Store (Insert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗄️ Supabase Vector Store (Insert)": {
      "main": [
        [
          {
            "node": "📊 Build Ingestion Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Build Ingestion Response": {
      "main": [
        [
          {
            "node": "✅ Respond to Admin Portal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📐 OpenAI Embeddings (text-embedding-3-small)": {
      "ai_embedding": [
        [
          {
            "node": "🗄️ Supabase Vector Store (Insert)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "📄 Default Data Loader (PDF/DOCX/TXT)": {
      "ai_document": [
        [
          {
            "node": "🗄️ Supabase Vector Store (Insert)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "44832e25-c636-4081-bf53-a5119f072b1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "13c5e749e41377da574139d5ae1c0b7cc3dd7e7d4abd9269d46e6af5701b4608"
  },
  "id": "z3p5zAle5eVJnsH1",
  "tags": []
}
